<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Heat" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- Date Column -->
  <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
      <td mat-cell *matCellDef="let game"> {{game.date}} </td>
  </ng-container>

  <!-- Away Column -->
  <ng-container matColumnDef="away">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Away </th>
    <td mat-cell *matCellDef="let game"> {{game.away}} </td>
  </ng-container>

  <!-- Away Up At Half Season Win% Column -->
  <ng-container matColumnDef="aHLWPerc">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Up@Half W% </th>
    <td mat-cell *matCellDef="let game"> {{game.aHLWPerc}} </td>
  </ng-container>

  <!-- Home Last 9 Up At Half Win% Column -->
  <ng-container matColumnDef="aLastXUp">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> L9 Up@Hf W% </th>
    <td mat-cell *matCellDef="let game"> {{game.aLastXUp}} </td>
  </ng-container>

  <!-- Home Last 9 down At Half Win% Column -->
  <ng-container matColumnDef="aLastXDo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> L9 Do@Hf W% </th>
    <td mat-cell *matCellDef="let game"> {{game.aLastXDo}} </td>
  </ng-container>

  <!-- Home Column -->
  <ng-container matColumnDef="home">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Home </th>
    <td mat-cell *matCellDef="let game"> {{game.home}} </td>
  </ng-container>

  <!-- Away Up At Half Season Win% Column -->
  <ng-container matColumnDef="hHLWPerc">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Up@Half W% </th>
    <td mat-cell *matCellDef="let game"> {{game.hHLWPerc}} </td>
  </ng-container>

  <!-- Home Last 9 Up At Half Win% Column -->
  <ng-container matColumnDef="hLastXUp">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> L9 Up@Hf W% </th>
    <td mat-cell *matCellDef="let game"> {{game.hLastXUp}} </td>
  </ng-container>

  <!-- Home Last 9 down At Half Win% Column -->
  <ng-container matColumnDef="hLastXDo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> L9 Do@Hf W% </th>
    <td mat-cell *matCellDef="let game"> {{game.hLastXDo}} </td>
  </ng-container>

  <!-- Spread Column -->
  <ng-container matColumnDef="odds">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Odds </th>
    <td mat-cell *matCellDef="let game"> {{game.odds}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>

